<table>
  <thead>
    <tr>
      <td>Title</td>
      <td>URL</td>
    </tr>
  </thead>
  <tbody>
    {% for trailer in items %}
      <tr>
        <td>{{ trailer.title }}</td>
        <td>
          <a class="use-ajax"
             data-dialog-options="{&quot;width&quot;:400}"
             data-dialog-type="modal"
             href="/trailers/view/{{ trailer.video_id }}">
            Review Trailer
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>


